<!-- <%@ page language="java" contentType="text/html; charset=UTF-8"
	pageEncoding="UTF-8"%> -->
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">

<title>Zesto Vehicle Management</title>

<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
	integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
	crossorigin="anonymous" />

<style type="text/css">
.centered {
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -50%);
}

h1 {
	text-align: "center";
	color: #8a3259;
	font-size: 90px;
}

a {
	color: #8a3259;
}

a:hover {
	text-decoration: none;
	color: #c251b4;
}
</style>
</head>
<body>

	<div>
		<img src="/images/carpink.jpg" alt="not found" width=100% height=980px>

		<div class="centered">
			<h1>
				<a href="login" role="button">Zesto Vehicle Portal</a>
			</h1>
		</div>

	</div>

</body>
</html>
